.table
  width: 98%
  margin-left: 10px
  margin-right: 10px


.custom-table 
    border-spacing: 0

.custom-table
    background: #fff

.custom-table tbody,
.custom-table tfoot,
.custom-table thead,
.custom-table-sticky
  background: inherit

.custom-table-header-row 
     height: 56px 

td.table-cell,
td.table-footer-cell,
th.table-header-cell,
th.table-header-cell-2 
  padding: 0
  border-bottom-width: 1px
  border-bottom-style: solid

td.table-cell:first-of-type,
td.table-footer-cell:first-of-type,
th.table-header-cell:first-of-type 
  padding-left: 24px

th.table-header-cell 
  text-align: left

th.table-header-cell-2 
  text-align: left


td.table-cell,
td.table-footer-cell,
th.table-header-cell,
th.table-header-cell-2 
  border-bottom-color: rgba(0, 0, 0, .12)

tr.table-footer-row,
tr.table-row 
  height: 48px

.table-header-cell 
  color: rgba(0, 0, 0, .54)
  font-size: 12px
  font-weight: 500

.table-header-cell-2 
  color: rgba(0, 0, 0, .54)
  font-size: 12px
  font-weight: 500

.table-cell 
    font-size: 10px
    font-weight: 500
    border-left-width: 1px
    border-left-style: solid
    border-left-color: rgba(0, 0, 0, .12)

.table-header-cell 
  font-size: 12px
  font-weight: 500
  border-left-width: 1px
  border-left-style: solid
  border-left-color: rgba(0, 0, 0, .12)
  border-top-width: 1px
  border-top-style: solid
  border-top-color: rgba(0, 0, 0, .12)

.table-header-cell-2 
  font-size: 12px
  font-weight: 500
  border-left-width: 1px
  border-left-style: solid
  border-left-color: rgba(0, 0, 0, .12)

.table-cell:last-child
    border-right-width: 1px
    border-right-style: solid 
    border-right-color: rgba(0, 0, 0, .12)

.table-header-cell:last-child
    border-right-width: 1px
    border-right-style: solid 
    border-right-color: rgba(0, 0, 0, .12)

.table-header-cell-2:last-child
    border-right-width: 1px
    border-right-style: solid 
    border-right-color: rgba(0, 0, 0, .12)
.table-cell-span
    display: block
    text-align: center
.salesQty
    width: 20px
    border: none
    padding: 4px
    text-align: center
.example-radio-group 
  display: inline-flex
  flex-direction: column


.example-radio-button 
  margin: 5px


.example-selected-value 
  margin: 15px 0
