<div id="main">
  <div class="cl-card">
    <mat-card class="settings-card">
      <mat-card-header>
        <mat-card-title>Database Management</mat-card-title>
      </mat-card-header>
      <mat-card-content class="settings-content">
        <button class="settings-item" mat-raised-button (click)="openDialog()">create user account</button>
        <button class="settings-item" mat-raised-button (click)="openUsersDialog('users')">All Users</button>
        <button class="settings-item" mat-raised-button (click)="openDialog()">Add Item Category</button>
        <button class="settings-item" mat-raised-button (click)="openDialog()">Add User Role</button>
        <!-- <button class="settings-item" mat-raised-button (click)="openDialog()">Course Management</button>
        <button class="settings-item" mat-raised-button (click)="openDialog()">Class Management</button>
        <button class="settings-item" mat-raised-button (click)="openDialog()">Venue Management</button> -->
      </mat-card-content>

    </mat-card>
  </div>
</div>